@use "../../scss/helpers" as *;

//scroll for cards
.cards-carousel {
	display: flex;
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	column-gap: fluid(20, 16);
	justify-content: flex-start;
	@include laptop-above {
		justify-content: space-between;
	}
	@include mobile {
		//margin-right: calc(var(--container-padding-x) * -1);
	}
}

.card {
	display: inline-flex;
	flex-direction: column;
	&__preview {
		overflow: hidden;
		background-color: var(--color-gray);
		border-radius: rem(20);
		display: flex;
		width: fluid(295, 198);
		height: fluid(298, 200);
		&--link {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
		}
	}
	&__image {
		object-fit: cover;
		transition: transform var(--transition-duration);
		&:hover {
			transform: scale(1.2);
		}
	}
	&__info {
		margin-top: fluid(16, 10);
		width: fluid(295, 198);
	}
	&__name {
		margin-bottom: rem(5);
		&-link {
			text-transform: lowercase;
			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}

.rating__view {
	display: flex;

}
.svg-clip-path {
	position: absolute;
	width: 0;
	height: 0;
}
